.newOrJoinButton {
  height: 16vh;
  width: 24vw;
  border: 1px black solid;
  font-size: 4vh;
  white-space: normal;
}

.newGameForm {
  margin-top: 1vh;
}
.nameButton {
  border: 1px black solid;
  white-space: normal;
  height: 10vh;
  width: 13vw;
}

.joinGame {
  margin-top: 1vh;
}