<material-content class="chooseAnswer">
  <!-- <material-item ng-repeat="answer in game.answers"> -->
  <material-list ng-repeat="answer in game.answers">
  <material-item>
    <material-item-content ng-mouseenter="show = true" ng-mouseleave="show = false" class="panelAnswers">
      <div class="material-tile-left">
        <img src="http://cdn.tasty.s3.amazonaws.com/assets/img/default-icon-user.png" class="face" />
      </div>
      <div layout="horizontal" class="material-tile-content">
        <!-- <div flex style="overflow: scroll">
        <h2>{{answer.answer}}</h2></div> -->
        <!-- </div> -->
        <h2 class="textAnswer">{{answer.answer}}</h2>
        <!-- <div flex ng-show="show" class="animate-show"> -->
        <material-button ng-show="show" ng-click="guesserChooseAnswer(answer)" class="choiceButton">This one!</material-button>

    </material-item-content>
    <material-divider inset ng-if="!last"></material-divider>
  </material-item>
  <material-list>
</material-content>
