.panelAnswers {
  font-family: Courier;
  color: black;
  /*width: 50vw;*/
  text-align: center;
  transition: background-color .6s;
  height: 22vh;
  /*border-bottom: 1px dashed white;*/
  /*overflow: scroll;*/
}

.panelAnswers h2 {
  text-align: center;
  overflow: hidden;
  font-family: Courier;
  font-size: 3.5vh;
}

.textAnswer {
  /*overflow: hidden;*/
  text-align: center;
  font-family: Courier;
  font-size: 3.5vh;
  /*white-space: pre-wrap;*/
}

.choiceButton {
  border: .16vw solid black;
  width: 25vw;
  top: 5vh;
  right: 29vw;
  position: absolute;
  z-index: 5;
  display: none;
  /*width: 80%;*/
  height: 7vh;
  background-color: antiquewhite;
  transition: display 1s !important;
}

.panelAnswers:hover {
  background-color: #E4E8C2;
  transition: display 1s !important;
  /*opacity: 0.4;*/
}

.panelAnswers:hover .choiceButton {
  transition: 1s linear all;
  display: block;
}

/*.choiceButton .ng-show {
  transition: 1s linear all;
}*/

.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.panelAnswers:hover .textAnswer {
  opacity: 0.2;
}

/*.choiceButton:hover {
  display: block;
}*/
