<div>
  <!-- <h1 class="robotSpeech">Robot says: "My favorite sport is badminton"</h1> -->
  <div align="center">
  <br/>
  <br/>
  <div class="endResults" align="center">
    <h3 class="results">Question: {{game.question}}</h3>
    <h3 class="results">Choice: {{game.guesserChoice}}</h3>
    <h3 class="results">Game Result: {{game.gameResult}}</h3>
    <div ng-repeat="player in game.players">
      <h3 class="results">{{player.playerName}} scored {{player.playerCurrentScore}} points!</h3>
    </div>
    <material-button style="width: 28vw" class="material-button-raised gameNextButton" ng-click="gameNextTurn()">Play next turn</material-button>
  </div>
</div>

<!-- <material-button disabled class="displayAnswer">Answer!</material-button> -->
