<!-- <div class="splash">
  <input class="splashButton" type="button" value="AYARChat!" ng-click="showLogin()"></input>
  <div class="userInputs container" ng-show="login" class="ng-hide">
    <h1 style="color: black" align="middle">AYAR?</h1>
    <form class="login">
      <input type="text" ng-model="user.username" placeholder='Username:'></input>
      <input type="password" ng-model="user.password" placeholder='Password:'></input>
      <button class="signupButton" ng-click="signup()">Sign Up!</button>
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
    </form>
  </div>
</div>
 -->

 <material-dialogue class="dialogue">
  <div class="dialog-content">
    <div class="text">
      This is some information about the Robot!
    </div>
  </div>
  <div class="dialog-actions">
    <material-button class="dialogueOkay" ng-click="hide()">
      Okay
    </material-button>
  </div>
</material-dialogue>