 <material-dialog class="dialog" aria-label="team">
  <div class="dialog-content">

    <material-content ng-controller="HomepageController">
    <material-list>
      <material-item ng-repeat="item in team">
        <material-item-content>
          <div class="material-tile-left">
            <img style="height: 25vh; width: 12vw; border-radius: 15vw"ng-src="{{item.face}}" class="face" alt="{{item.who}}">
          </div>
          <div class="material-tile-content">
            <h2 style="font-size: 6vh">{{item.what}}</h2>
            <h3 style="font-size: 3vh">{{item.who}}</h3>
            <p style="font-size: 2vh">
              {{item.notes}}
            </p>
          </div>
        </material-item-content>
        <material-divider inset ng-if="!$last"></material-divider>
      </material-item>
    </material-list>
  </material-content>

  <!--     <div class="teamprofiles" align="center">
        <table class="stef">
          <tr>
            <th colspan="2" style="font-size: 24px">Stef Contreras</th>
          </tr>

          <tr>
            <th colspan="2" style="font-size: 16px">Product Visionary, Robot Master, Back-End Engineer</th>
          </tr>

          <tr>
            <td><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/005/06e/3dc/3d7a83e.jpg"/></td>
            <td style="padding-left: 8px"><p style="font-size: 14px">Placeholder</p></td>
          </tr>
        </table>

        <table class="jon">
          <tr>
            <th colspan="2" style="font-size: 24px">Jonathan Warrick</th>
          </tr>

          <tr>
            <th colspan="2" style="font-size: 16px">Project Manager, Robot Master, Server / Client Interaction and Sockets</th>
          </tr>

          <tr>
            <td><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/08d/12a/1e5df03.jpg"/></td>
            <td style="padding-left: 8px"><p style="font-size: 14px">Jonathan's passion for serving as the grammar police in his circle of friends made him a natural fit for building out the underlying chat bot logic that interprets user input and generates sentences in return. Jonathan also developed the Socket.IO functionality that allows users to interact in real-time while playing the game.</p></td>
          </tr>
        </table>

        <table class="chris">
          <tr>
            <th colspan="2" style="font-size:24px">Chris Singhavong</th>
          </tr>

          <tr>
            <th colspan="2" style="font-size: 16px">UI / UX Guru, Front-End / Angular Material Designer</th>
          </tr>

          <tr>
            <td><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/08e/0d3/2e1e8a3.jpg"/></td>
            <td style="padding-left: 8px"><p style="font-size: 14px">Chris' passion for sleek design in basketball shoes is echoed through his prowess for design. Chris led the wire-framing discussions for the entire application and brought the team's vision to life with his UI / UX skills. When he's not making front-end magic, you can usually find him getting buckets on the basketball courts.</p></td>
          </tr>
        </table>

        <table class="collin">
          <tr>
            <th colspan="2" style="font-size: 24px">Collin Wu</th>
          </tr>

          <tr>
            <th colspan="2" style="font-size: 16px">Game Master, Facebook Authentication Expert, Back-End Engineer</th>
          </tr>

          <tr>
            <td><img src="https://media.licdn.com/media/p/3/000/1d6/13a/3e2ee25.jpg"/></td>
            <td style="padding-left: 8px"><p style="font-size: 14px">Collin gets really excited about driving user engagement and the concept of gamification.</p></td>
          </tr>
        </table>

      </div> -->
  </div>
  <div class="dialog-actions">
    <material-button class="teamButton" ng-click="hide()">
      Okay
    </material-button>
  </div>
</material-dialog>