body {
  background-color: #8DA598;
}

h1 {
  font-family: From Cartoon Blocks;
  color: white;
  font-size: 60px;
  margin-bottom: 0;
}

#avatar {
  position: absolute;
  margin-left: 282px;
  margin-top: -70px;
}

#footer {
  background-color: transparent;
  position: absolute;
}


/*@font-face {
  font-family: snacker;
  src: url("snacker.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: orangejuice;
  src: url("orange-juice.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: cartoonblocks;
  src: url("cartoon-blocks.ttf");
  font-style: normal;
  font-weight: normal;
}*/

.container {
  background-color: #F1A833;
  height: 650px;
  width: 600px;
  border-width: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.answer {
  overflow: hidden;
  font-family: From Cartoon Blocks;
  color: black;
  background-color: #DB5A25;
  height: 125px;
  width: 400px;
  margin: 30px;
  font-size: 40px;
  border-radius: 5px;
  border-color: black;
  /*-webkit-text-stroke-width: 1px;*/
  /*-webkit-text-stroke-color: black;*/
  box-shadow: 10px 10px 5px #888888;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.answer:hover {
  border-color: #0E1D24;
  border-radius: 5px;
  border-width: 4px;
}

.answer:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
