.header:hover {
  text-decoration: none;
}

.load {
  margin-top: 100px;
}

.loadingBar {
  width: 80%;
  margin-top: 10px;
}

.papaDiv {
  height: 100vh;
  width: 100vw;
}

.splashContainer {
  position: absolute;
  bottom: 0;
  width: 50vw;
}
.splashRobo {
  height: 55vh;
  width: 20vw;
}

.splashRobo:hover {
  cursor: pointer;
}

.click-me {
  position: absolute;
  top: -1vw;
  left: 18vw;
  z-index: 1;
  height: 15vh;
  width: 11vw;
}

.gameNextButton {
  width: 12vw;
  font-size: 3vh;
}

.endResults {
  overflow: scroll;
}

.lobbyNames {
  font-family: Courier;
  font-size: 5vh;
}

.AYAR {
  background-color: #dfdfe9;
  border: 2px solid black;
  /*color: #8CBEB2;*/
  color: black;
  border-radius: 15vh;
  font-size: 10vh;
  height: 10.2vh;
  width: 10vh;
  display: inline-block;
}

.littleAYAR {
  background-color: antiquewhite;
  border-radius: 6.5vh;
  font-size: 6vh;
  height: 6.5vh;
  width: 6.5vh;
  display: inline-block;
}

.navTabs {
  width: 100vw;
}

.toolTip {
  /*font-family: Courier;*/
}
