html {
  background-color: #E4E8C2;
}

body {
  background-color: #E4E8C2;
}

h1 {
  font-family: cartoonblocks;
  color: #2B344D;
  font-size: 10vh;
  margin-bottom: 10px;
}

.testContainer {
  width: 45vw;
  height: 90vh;
  padding-top: .75em;
  background-color: #F79C65;
  border-width: 5px;
  box-shadow: 10px 10px 5px #888888;
  margin: 0 auto;
  margin-top: 1%;
  /*padding-bottom: 6%;*/
  margin-bottom: 1%;
}

.load {
  margin-top: 100px;
}

.loadingBar {
  width: 80%;
  margin-top: 10px;
}

.papaDiv {
  height: 100vh;
  width: 100vw;
}
