<div class="papaDiv" layout="vertical" layout-lg="vertical">
  <div flex class="testContainer">
  <center>
  <h1>AYAR?</h1>
  <!-- <hr style="margin: 0"> -->
  <div ng-controller="ShowDialogController">
  <material-tabs class="navBar" selected="data.selectedIndex" center>
          <material-tab class="navButton material-tab" label="A"></material-tab>
          <material-tab ng-click="dialogBasic($event, '/app/homepage/nav-views/robotInfo.html')"label="Y"></material-tab>
          <material-tab ng-click="dialogBasic($event, '/app/homepage/nav-views/teamInfo.html')"label="A"></material-tab>
          <material-tab ng-click="dialogBasic($event, '/app/homepage/nav-views/robotInfo.html')" label="R"></material-tab>
          <material-tab ng-click="dialogBasic($event, '/app/homepage/nav-views/gameHelp.html')"label="?"></material-tab>
  </material-tabs>
<div ui-view></div>
</div>
</div>


<!--insert avatar profile top left -->
