.container {
  border: 1px solid black;
}

#name {
  font-family: From Cartoon Blocks;
}

#points {
  font-family: From Cartoon Blocks;
}

.achievement {
  margin-top: 10px;
  font-size: 50px;
  vertical-align: middle;
  background-color: #F1A833;
  height: 400px;
  width: 600px;
  border-width: 5px;
  box-shadow: 10px 10px 5px #888888;
}

.header {
  font-size: 50px;
  vertical-align: middle;
  background-color: #EFECE3;
  height: 200px;
  width: 600px;
  border-width: 5px;
  box-shadow: 10px 10px 5px #888888;

}
#pic {
  width: 25%;
  height: auto;
  float:left;
}

#name {
float: left;
color: #DB5A25;
width: 45%;
text-align: center;
}

#points{
  width:13%;
  float:right;
}
