/*nav*/

material-tab {
  font-size: 8vh;
  height: 10vh;
  /*background-color: antiquewhite;*/
  background-color: #F06060;
}

h1 {
  font-family: cartoonblocks;
  color: black;
  outline: 1px;
  font-size: 8vh;
  margin-bottom: 10px;
}

html {
  /*background-color: #E4E8C2;*/
  background-color: #016073;
}

body {
  /*background-color: #E4E8C2;*/
  background-color: #8CBEB2;
}

.testContainer {
  width: 90vw;
  height: 90vh;
  padding-top: .75em;
  border: 1px solid black;
  background-color: #F3B562;
  border-width: 2px;
  box-shadow: 8px 8px 4px #888888;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*#robotInfo {
  background-color: antiquewhite;
  font-family: Courier;
}*/

.social {
  display: inline-block;
}

.icon:hover {
  cursor: pointer;
}